@model SocialMedia.Models.ViewModels.GroupViewModel

@{
    ViewData["Title"] = "Groups";
}

<h1>Groups</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group.Title)
            </th>
        </tr>
    </thead>
    <tbody>
        @*List all groups where the current user is not a member*@
        @foreach (var group in Model.NonMemberGroups)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => group.Title)
                </td>
                <td>
                    @Html.ActionLink("Details", "NonMemberDetails", "Groups", new { id = group.GroupId })
                </td>
            </tr>
        }
    </tbody>
</table>
