#gallery-img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #gallery-img:hover {
        opacity: 0.7;
    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(254, 254, 255); /* Fallback color */
    background-color: rgba(254, 254, 255,0.9); /* White w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

#upload-img-btn {
    padding: 15px 32px;
}

#img-comments {
    margin-top: 30px;
}

/*Image columns*/
* {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create three equal columns that sits next to each other */
.column {
    -ms-flex: 33%; /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }

@media screen and (max-width: 991px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

        .column img {
            margin-top: 8px;
            vertical-align: middle;
        }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 768px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

        .column img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
        }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

        .column img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
        }
}


