@model SocialMedia.Models.User

@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <img src="~/img/profile_pic.png" class="rounded" alt="Cinque Terre" width="150" height="150">
            </div>
            <div class="col-md-9">
                <table class="table">
                    <tbody>
                        <tr></tr>
                        <tr>
                            <td><b>@Model.FullName</b></td>
                            <td><b>@Model.UserName</b></td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td>@Model.Country</td>
                            <td>@Model.DOB</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr class="container" style="height:1px;border-width:0;color:skyblue;background-color:skyblue">

<div class="container">
    <ul class="nav">
        <li class="nav-item col-md-3">
            <button class="nav-link btn btn-outline-primary" href="#"><img src="https://img.icons8.com/ultraviolet/40/000000/about.png" />  About </button>
        </li>
        <li class="nav-item col-md-3">
            <button class="nav-link btn btn-outline-primary" href="#"><img src="https://img.icons8.com/ultraviolet/40/000000/small-icons.png" />  Gallery </button>
        </li>
        <li class="nav-item col-md-3">
            <button class="nav-link btn btn-outline-primary" href="#"><img src="https://img.icons8.com/ultraviolet/40/000000/handshake.png" />  Friends </button>
        </li>
        <li class="nav-item col-md-3">
            <button class="nav-link btn btn-outline-primary" href="#"><img src="https://img.icons8.com/ultraviolet/40/000000/groups.png" />  Groups </button>
        </li>
    </ul>
</div>

<hr class="container" style="height:1px;border-width:0;color:skyblue;background-color:skyblue">

<div class="container mt-3 border p-3">
    <h2>New Post</h2>
    <div class="media border p-3">
        <img src="~/img/profile_pic.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <form>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                              placeholder="What is on your mind?"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary"><img src="https://img.icons8.com/ultraviolet/40/000000/paper-plane.png" />  Post</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="media border p-3">
        <img src="img/profile_pic.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h4>Username <small><i>Posted on DateTime</i></small></h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.
            </p>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="media border p-3">
        <img src="img/profile_pic.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h4>Username <small><i>Posted on DateTime</i></small></h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.
            </p>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="media border p-3">
        <img src="img/profile_pic.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h4>Username <small><i>Posted on DateTime</i></small></h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.
            </p>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="media border p-3">
        <img src="img/profile_pic.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h4>Username <small><i>Posted on DateTime</i></small></h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.
            </p>
        </div>
    </div>
</div>
